/* Left transition */
li.ui-li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
    border-top-width: 0; /* We switch to border bottom on previous list item */
    border-right-width: 1px;
}
/* Right transition */
li.ui-li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
    border-top-width: 0; /* We switch to border bottom on previous list item */
    border-left-width: 1px;
}
/* Border bottom for the previous list item during the transition*/
li.ui-li.border {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
.touch .delete {
    display: none;
}
.touch .ui-link-inherit {
    padding-right: 15px !important;
}
/* Custom styling for the popup */
#confirm {
    border: 1px solid;
    border-color: #044062; /* Fallback for older browsers */
    border-color: rgba(4,64,98,.4);
    background: #456f9a; /* Fallback for older browsers */
    background: rgba(69,111,154,.8);
    -moz-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    -webkit-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    max-width: 250px;
}
#confirm p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    margin-bottom: .75em;
}
/* Make the buttons inherit the popup border-radius (.ui-corner-all) */
#confirm div, #confirm .ui-btn-corner-all {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
#confirm #cancel {
    background-image: none;
}
#confirm .topic.ui-li-desc {
    font-size: inherit; /* The cloned topic will have class ui-li-desc so we negate the font-size settings of this class */
    text-align: center;
}

.aDeleteBtn {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	height: 15px;
	line-height: 15px;
	margin: 20px 20px 0 0;
	padding: 0.6em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	color: #fff;
}

/* red color buttons */
.ui-btn-up-r { border: 1px solid #953403; background: #2567ab; font-weight: bold; color: #fff; cursor: pointer;  text-shadow: 0 -1px 1px #953403; text-decoration: none; background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c')"; }
.ui-btn-up-r a.ui-link-inherit { color: #fff; }
.ui-btn-hover-r { border: 1px solid #953403; background: #f15c22; font-weight: bold; color: #fff;  text-shadow: 0 -1px 1px #014D68; background-image: -moz-linear-gradient(top, #f15c22, #f15c22); text-decoration: none; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f15c22),color-stop(1, #f15c22));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15c22', EndColorStr='#f15c22')";  }
.ui-btn-hover-r a.ui-link-inherit { color: #fff; }
.ui-btn-down-r { border: 1px solid #225377; background: #79ae21; font-weight: bold; color: #fff; text-shadow: 0 -1px 1px #225377; background-image: -moz-linear-gradient(top, #bc770f, #e6590c); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #bc770f),color-stop(1, #e6590c));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bc770f', EndColorStr='#e6590c')"; }
.ui-btn-down-r a.ui-link-inherit { color: #fff; }
.ui-btn-up-r, .ui-btn-hover-r, .ui-btn-down-r { font-family: Helvetica, Arial, sans-serif; }